@import "tailwindcss";
*{
  scroll-behavior: smooth;
}

.glow{
  transition:all 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 25px rgb(206,71,193);
}

.img_glow{
  box-shadow: 0 0 55px rgb(206,71,193);
}

.neon-button{
  transition: all 0.3s ease-in-out;
}

.neon-button:hover{
  box-shadow: 0 0 15px rgb(206,71,193);
  /* box-shadow: 0 0 15px rgb(206,71,193); */
  background-color:rgb(206,71,193); 
}
.b_glow{
   box-shadow: 0 0 15px rgb(206,71,193);
}